main {
    display: grid;
}

body {

}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    
}
.container h1 span {
    color: rgb(174, 123, 255);
}

.cover-photo {
    grid-row: 1 /6;
    grid-column: 1 / -1;
    background-size: cover;
    background-image: url(../images/insta\ 10.jpg);
    background-position: center;
    text-align: center;
    background-blend-mode: overlay;
    background-color: rgba(7, 241, 144, 0.219);

}

.container h1 {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    text-align: center;
    font-size: 3em;
    color: white;
}

.aboutme {
    grid-column: 1 / -1;
    grid-row: 3;
    color: white;
    text-align: center;
    margin: 0 50px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-column: 2 / -2;
    grid-row: 5 / -1;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.content-container div h2 {
    margin-bottom: 10px;
}

.education {
    flex: 1;
}

.education ul {
    list-style: none;
}

.work {
    flex: 1;
}

.skills {
    flex: 1;
}

.skills ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}