/* Utilising Grid for about me page design */
main {
    display: grid;
}

/* Defining grid layout */
.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    
}
/* accent color for heading */
.container h1 span {
    color: rgb(248, 250, 119);
}

/* Styling for cover photo, which turns into main background in smaller displays */
.cover-photo {
    grid-row: 1 /6;
    grid-column: 1 / -1;
    background-size: cover;
    background-image: url(../images/nautilus-kb.jpg);
    background-position: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.452);
    background-blend-mode: overlay;
    filter: blur(5px);
    z-index: -1;
}

h2 {
    color: var(--secondary-color);
}


.container h1 {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    text-align: center;
    font-size: 3em;
    color: white;
}

.aboutme {
    grid-column: 1 / -1;
    grid-row: 3;
    color: white;
    text-align: center;
    margin: 0px 50px;
}

/* Styling for main content container, making it overlap with cover photo */
.content-container {
    display: flex;
    flex-direction: column;
    grid-column: 2 / -2;
    grid-row: 5 / -1;
    background-color: rgba(51, 51, 51, 0.623);
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

/* Styling to for spacing between elements */
.content-container div {
    margin: 30px 20px;
}

.content-container div h2 {
    margin-bottom: 10px;
}

.education ul {
    list-style: none;
    font-weight: 300;
}

.education ul li {
    margin: 5px
}

.work ul {
    margin-bottom: 20px;
}

.work ul li {
    margin: 5px;
    list-style: none;
}


.skills ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

/* Styling for tablet devices and smaller */
@media screen and (max-width:850px) {
    /* change background image to cover photo for About Me Page */
    body {
    background-image: url(../images/nautilus-kb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(7px);
    background-blend-mode: overlay;
    background-color: rgb(59, 59, 59);
    }

    /* change from grid to flex in smaller displays */
    main {
        display: flex;
        flex-direction: column;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 20px;
    }
    .container h1 {
        font-size: 44px;
    }

    .content-container {
        margin: 20px 0px;
    }

    .skills ul {
        margin-bottom: 20px;
    }
    
    .aboutme p {
        font-size: 16px;
        margin: 40px 0px;
    }
}