main {
    display: flex;
}

.hero {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5em;
    padding: 30px 10%;
}

.hero-content {
    max-width: 800px;
    color: white;
}

.hero-content h1 {
    font-size: 3.5em;
    line-height: 1.2;
    margin-bottom: 3%;
}

.hero-content h1 #jess {
    color: var(--secondary-color);
}
.hero-content h1 #period {
    color: rgb(255, 199, 96);
}
.hero-content h3 {
    animation-delay: 0.5s;
}

.hero-content p {
    font-size: 18px;
    margin: 25px 0 30px;
    animation-delay: 1s;

}

.hero-content a {
    background:var(--primary-color);
    padding: 10px 28px;
    text-decoration: none;
    color: black;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    animation-delay: 1.5s;
    width: 240px;
    background-color: var(--accent-color);
    font-weight: 600;
    transition: transform 0.3s;
}

.hero-content a:hover {
    color: var(--accent-color);
    background-color: var(--primary-color);
    transform: translateY(-5px);
}

.portrait-box img {
    height: 500px;
    background-image: linear-gradient(rgb(255, 255, 158), rgb(255, 159, 80));
    border: 2px solid black;
    border-radius: 50%;
    animation-delay: 2s;
    box-shadow: 4px 4px 10px rgb(17, 17, 17) ;
}

.animate {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}


@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


@media screen and (max-width:850px) {
    .hero{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        margin:0 50px;
        padding: 0;
    }
    .hero-content {
        justify-content: center;
        align-items: center;
    }
    .portrait-box img{
        height: 400px;
        /* margin-bottom: 50px; */
    }
    .hero-content h1 {
        font-size: 2em;
    }
}

@media screen and (max-width:430px) {
    
    .hero-content h1 {
        font-size: 2em;
    }

    .hero-content p {
        text-align: center;
    }
    .portrait-box img{
        height: 300px;
    }
}