@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
 --primary-color: #202020;
 --secondary-color: #A3FFEE;
 --accent-color: #E393FF;
 font-family: Inter, Arial, Helvetica, sans-serif;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(../images/bg-filtered.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(7px);
}


/* Nav Bar Styling */
nav {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
}

.logo img {
    height: 90px;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color:white;
    font-size: 24px;
    transition: transform 0.3s;
}


.links-container a:hover {
    color: var(--secondary-color);
    transform: translateY(-5px);
}


nav svg {
    fill: white;
}

#sidebar-active {
    display: none;
}

.open-sidebar-btn, .close-sidebar-btn {
    display: none;
    padding: 0 20px;
}

/* Main Section Styling */

main {
    margin-top: 75px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: -1;
}

.landing {

}

.landing h1 {
    font-size: 3em;
    color: white;
    margin-bottom: 20px;
}

.landing p {
    font-size: 22px;
    font-weight: 200;
    color: white;
    animation-delay: 0.5s;
}

.landing a {
    background:var(--secondary-color);
    padding: 10px 28px;
    text-decoration: none;
    color: rgb(212, 0, 255);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    border: 2px solid black;
    animation-delay: 1s;
}


.portrait-box img {
    height: 600px;
    left: 0;
    background-color: rgb(253, 203, 109);
    border-radius: 30%;
    border: 3px solid black;
    animation-delay: 1.5s;
}

.animate {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Footer Styling */
footer {
    width: 100%;
    margin-top: auto;
    background-color: var(--primary-color);
}

.footericons {
    display: flex;
    justify-content: center;

}

.footericons a {
    padding: 10px;
    text-decoration: none;

}

.footericons a i {
    font-size: 1.5em;
    color: white;
    margin-top: 10px;
    transition: transform 0.3s;
}


.footericons a i:hover {
    color: var(--accent-color);
    transform: translateY(-5px);
}

.footernav ul a:hover {
    color:var(--secondary-color)
}

.footernav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 8px;
    margin-bottom: 10px;
}

.footernav ul a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.footerbottom {
    display: flex;
    justify-content: center;
    padding: 7px;
    font-size: 12px;
    color: white;
    background-color: black;
}

.background {
    background-image: url(./images/senkei-coverbg.jpg);
}

/* Styling for Desktop */
@media screen and (min-width:850px) {

}

/* Styling for Tablet devices */
@media screen and (max-width: 850px) {
   /* Responsive Nav bar styling */
    .links-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        width: 250px;
        background-color: var(--primary-color);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.4);
        transition: 0.7s ease-out;
    }

    .links-container a {
    padding: 20px 30px;
    }

    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        justify-content: flex-start;
    }
    .open-sidebar-btn, .close-sidebar-btn {
        display: block;
    }
    #sidebar-active:checked ~ .links-container{
        right: 0;
        padding: 20px 0;
    }
    #sidebar-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

    main{
        flex-direction: column;
    }
}



/* Styling for Phone Devices */
@media screen and (max-width: 430px) {
    .footernav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}