@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    --primary-color: #202020;
    --secondary-color: #A3FFEE;
    --accent-color: #E393FF;
    font-family: Inter, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../images/keyboard-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(7px);
    background-blend-mode: overlay;
    background-color: rgb(59, 59, 59);
}


/* Nav Bar Styling */
nav {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    /* background-color: var(--primary-color); */
}

.logo img {
    height: 80px;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color:white;
    font-size: 24px;
    transition: transform 0.3s;
}


.links-container a:hover {
    color: var(--secondary-color);
    transform: translateY(-5px);
}


nav svg {
    fill: white;
}

#sidebar-active {
    display: none;
}

.open-sidebar-btn, .close-sidebar-btn {
    display: none;
}

/* Main Section Styling */

main {
    z-index: -1;
    flex: 1;
}

/* Footer Styling */
footer {
    width: 100%;
    background-color: var(--primary-color);
}

.footericons {
    display: flex;
    justify-content: center;
}

.footericons a {
    padding: 10px;
    text-decoration: none;

}

.footericons a i {
    font-size: 1.5em;
    color: white;
    margin-top: 10px;
    transition: transform 0.3s;
}


.footericons a i:hover {
    color: var(--accent-color);
    transform: translateY(-5px);
}

.footernav ul a:hover {
    color:var(--secondary-color)
}

.footernav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 8px;
    margin-bottom: 10px;
}

.footernav ul a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.footerbottom {
    display: flex;
    justify-content: center;
    padding: 7px;
    font-size: 12px;
    color: white;
    background-color: black;
}


/* Styling for Tablet devices */
@media screen and (max-width: 850px) {
   /* Responsive Nav bar styling */
    .links-container {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        z-index: 100;
        width: 250px;
        background-color: var(--primary-color);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.4);
    }

    .links-container a {
    padding: 20px 30px;
    }

    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        justify-content: flex-start;
    }
    .open-sidebar-btn, .close-sidebar-btn {
        display: block;
        padding: 20px;
    }
    #sidebar-active:checked ~ .links-container{
        display: flex;
        right: 0;
        padding: 20px 0;
    }
    #sidebar-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
    }

}

/* Styling for Phone Devices */
@media screen and (max-width: 430px) {
    .footernav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}