/* Styling for blog posts */

/* using display flex for all blog posts */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* styling for blog post header */
.blog-head {
    background: rgba(105, 105, 105, 0.5);
    text-align: center;
    width: 60dvw;
    border-radius: 8px;
    color: white;
    margin-top: 30px;
}

.blog-head h1 {
    font-size: 52px;
}

.blog-head h1 span {
    color: var(--secondary-color);
}

.blog-head h3 {
    font-weight: 500;
    padding-bottom: 5px;
}

.blog-head p {
    font-size: 16px;
    padding-bottom: 5px;
}

/* styling for blog post body */
.blog-body {
    background: rgba(105, 105, 105, 0.5);
    padding: 20px;
    margin: 20px 20px;
    border-radius: 8px;
    color: white;
    width: 95dvw;

}

/* image styling */
figure {
    display: block;
    text-align: center;
    float: right;
    padding-bottom: 5px;
    padding-left: 20px;
}

figure img {
    max-width: 100%;
    height: auto;
}

figure figcaption {
    font-size: 12px;
}

/* Styling for tablet and mobile devices */
@media screen and (max-width:850px) {
    .blog-body {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
    }

    figure {
        padding-left: 0px;
    }
}